@media screen and (max-width: 990px) {
    #title { 
        display: none;
}

}

@media screen and (min-width: 990px) {
    #wayland-container { margin-top: 50px;}
}

@media screen and (max-width: 990px) {
    #landing-img {
        position: absolute;
        top: 10%;
    }
}

@media screen and (min-width: 990px) {
    .card-group {
        display: flex;
        padding-top: 200px;
        padding-bottom: 100px;
    }
}

@media screen and (max-width: 990px) {
    .questions {
        width: 80%;
    }
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

#home-dark {
    min-height: 100vh;
    min-width: 100vw;
}

#title {
    position: absolute;
        top: 125px;
        left: 140px;
        font-family: 'Combo', cursive;
        -webkit-text-stroke: 3px white;
}

#mobile-title {
    font-family: 'Combo', cursive;
    -webkit-text-stroke: 1px white;
}

.container-fluid {
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
    color: black;
}

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s;
}

.navbar-nav > li {
    padding-left:50px;
    padding-right:50px;
}

#footer {
    min-width: 100%;
}

#litter-announcement {
    width: 100vw;
}

.cyrus-bg {
    background-color: black;
}

#cyrus-pic {
    border-radius: 25%;
    margin-top: 100px;
    padding: 0px 50px 10px 50px;
}

#wayland-pic {
    border-radius: 25%;
    margin-top: 50px;
    padding: 0px 50px 10px 50px;
}

#cyrus-heading {
    font-family: 'Combo', cursive;
        font-size: 40px;
}

#wayland-heading {
    font-family: 'Combo', cursive;
        font-size: 40px;
}

#puppyapp-dark {
    width: 100vw;
    margin: 0;
    padding: 0; 
}

.questions {
    margin-bottom: 20px;
    margin-left: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.client-info {
    margin-top: 100px;
    margin-left: 10px;
    padding: 0;
}

#phone-number {
    margin-bottom: 50px;
}

#question-10 {
    margin-bottom: 50px;
}

.mb-3 {
    margin-left: 25px;
    margin-right: 25px;
}

#faq {
   padding-bottom: 150px;
}

.accordion-button {
    color: inherit;
    background: #0275d8;
    color: white;
}

#faq-dark {
   width: 100vw;
   height: 100vh;
   padding-top: 200px;

}

.card-group {
    margin-top: 100px;
}

#about-1 {
    margin-top: 10px;
    height: 200px;
    width: 200px;
    border: solid 2px #0275d8
}

#about-2 {
    margin-top: 10px;
    height: 200px;
    width: 200px;
    border: solid 2px #0275d8
}

#about-3 {
    margin-top: 10px;
    height: 200px;
    width: 200px;
    border: solid 2px #0275d8
}

#about-us-dark {
    width: 100%;
    min-height: 400px;
    padding-top: 10px;
    padding-bottom: 100px;
 }